{% do normalize().headMeta(entity).headTitle(entity) %}
{% set title = entity.getCurrentRevision().get('title') %}
<div itemscope itemtype="http://schema.org/Article">
    <div itemprop="articleBody">
        {% include 'entity/page/partials/alerts' %}
        {% include 'entity/view/default' %}
    </div>
</div>
{% set taxonomy = include('entity/page/aggregate/taxonomy', {'terms': entity.getTaxonomyTerms()}) %}
{% set temp = registry().add('rnav', taxonomy) %}
{% set temp = registry().add('rnav', related(entity)) %}
